* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
} 

body {
    font-family: -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;   
    background-color: #e6e1c5;
    color: #1f3d2b;
    line-height: 1.6;
    padding-top: 70px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-body {
    background-color: #1f3d2b;
    color: #e6e1c5;
}

h1, h2, h3 {
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-weight: 400;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    background: #1f3d2b;
    padding: 0 20px;
    font-size: 20px;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

#navbar.dark {
    background-color: #e6e1c5;
    color: #1f3d2b;
}

/* #navbar .logo {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
} */

#navbar .logo {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

#navbar .logo img {
    height: 60px;
    width: auto;
    display: block;
    object-fit: contain;
}

#navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 20px;
}

#navbar ul li a {
    color: inherit;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
}

#navbar ul li a:hover {
    color: #fff;
    background: #4c7a65;
}

body.dark-body #navbar ul li a:hover {
    background: #35503f;
}

.menu-btn {
    display: none;
    visibility: hidden;
}

.toggler {
    color: inherit;
    cursor: pointer;
    font-size: 24px;
}

/* SECTION ANIMATION */
.section {
    padding: 80px 100px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Home - Hero section*/
.hero {
    text-align: center;
    background: rgba(76, 122, 101, 0.1);
    border-radius: 10px;
    margin: 40px auto;
    padding: 60px 40px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

.section h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 45px;
}

.section p {
    font-size: 24px;
    text-align: center;
}

/* Skills set */
.skills-container {
    display: flex;
    flex-direction: column;
    gap: 20;
    max-width: 600px;
    margin: 0 auto;
}

.skill span {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
}

.skill-bar {
    background: #ccc;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.skill-level {
    background: #4c7a65;
    height: 100%;
    width: 0;
    transition: width 1.5s ease-in-out; 
}

/* PROJECTS */
.projects-container {
    display: flex;
    justify-content: space-around;
    gap: 20;
    flex-wrap: wrap;
}

.project-card {
    background: rgba(76, 122, 101, 0.1);
    padding: 25px 20px;
    width: 290px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card p {
    font-size: 20px;
    margin-bottom: 15px;
}

.project-card a {
    text-decoration: none;
    color: #1f3d2b;
    display: inline-block;
    font-weight: 600;
    transition: color 0.3s;
}

body.dark-body .project-card a {
    color: #E6E1C5;
}

.project-card a:hover {
    color: #4c7a65;
}

/* Contact Me */
.contact-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #4c7a65;
    border-radius: 5px;
    transition: border 0.3s;
    outline: none;
}

.contact-form input:focus, 
.contact-form textarea:focus {
    border-color: #35503f;
    color: #1f3d2b;
}

.contact-form button {
    padding: 12px;
    background-color: #4c7a65;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #35503f;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1f3d2b;
    color: #fff;
    font-size: 18px;
}

body.dark-body footer {
    background: #e6e1c5;
    color: #1f3d2b;

}
