@media (width > 540px) {
    .banner, .order-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-card:nth-child(1) {
        grid-area: 1/1/2/3;
    }

    .menu-header {
        white-space: wrap;
    }

    
}

@media (width > 768px) {
    nav {
        position: static;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .nav-container {
        padding: 0;
        background-color: transparent;
    }

    .logo {
        max-width: 250px;
    } 

    #burger-icon {
        font-size: 2.7rem;
        color: var(--primary-color);
    } 

    .logo h2 {
        white-space: nowrap;
        font-size: 2.1rem;
        color: var(--primary-color);
        padding-right: 20px;
    } 

    .mobile-bar {
        display: none;
    }

    .nav-links {
        position: static;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
        z-index: 1;
        transform: none;
    }

    .nav-links a {
        color: var(--primary-color);
    }

    .nav-links a:hover {
        color: var(--tertiary-color);
    }

    .hero-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .hero-content h2 {
        margin-inline-start: unset;
    }

    .hero-content h1 {
        text-align: left;
    }

    .hero-content h1 span {
        display: block;
    }

    .banner-card {
        padding: 1.5rem;
    }

    .banner-card:nth-child(1) {
        grid-area: 1/1/3/2;
    }

    .order-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .event-content {
        flex-direction: row-reverse;
        gap: 2rem;
    }

    .event-content img {
        max-width: 100%;
        object-fit: cover;
    }

    .event-details {
        max-width: 100%;
        width: 50%;
    }

    .description {
        text-align: center;
    }

    .secondary, .event-details .description {
        text-align: left;
    }

    .menu-header {
        text-align: left;
        white-space: wrap;
    }

    #secondary, #menu-header {
        text-align: center;
    }

    .reservation img {
        display: flex;
        position: absolute;
        z-index: -1;
    }

    .reservation-1 {
        left: 0;
        top: 0;
        width: clamp(100px, 25vw, 350px);
    }

    .reservation-2 {
        right: 0;
        bottom: 0;
        width: clamp(100px, 20vw, 250px);
    }

    .footer-logo {
        max-width: 250px;
    }

    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-links li {
        justify-content: flex-end;
    }

    .socials {
        justify-content: flex-end;
    }
}

@media (max-width : 900px) {
    .logo h2 {
        font-size: 1.6rem;
    }

    .hero-content h1 span {
        display: block;
    }
}

@media (width > 1024px) {
    .order-grid {
        gap: 2rem;
    }

    .menu-header {
        text-align: left;
        white-space: wrap;
    }

    .secondary, .event-details .description {
        text-align: left;
    }

    #secondary, #menu-header, .description {
        text-align: center;
    }
}