@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-color: #42200b;
    --secondary-color: #ffc135;
    --tertiary-color: #df1c1c;
    --text-dark: #212529;
    --white: #fff;
    --max-width: 1200px;
    --header-font-1: "Alfa Slab One", serif;
    --header-font-2: "Bebas Neue", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
  scroll-margin-top: 2rem;
}

body {
    font-family: "Montserrat", sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

img {
  display: flex;
  width: 100%;
}

.btn {
  color: var(--white);
  background-color: var(--tertiary-color);
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color);
}

/* Overall Header */
#header {
  background-image: url("Images/bright.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header Navbar */
nav {
  position: fixed;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

#burger-icon {
  font-size: 1.9rem;
  color: var(--white);
} 

.logo h2 {
  margin: 0;
  line-height: 1;
  color: var(--white);
} 

.mobile-bar {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.4s ease-in-out;
}

.mobile-bar i {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.mobile-bar:hover {
  background-color: var(--secondary-color);
  opacity: 0.8;
  color: #42200b;
}

.nav-links {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav-links.open {
  transform: translateY(0);
}

.nav-links a {
  font-weight: 600;
  white-space: nowrap;
  color: var(--white);
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--secondary-color);
}

/* Header HERO */
.hero-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  overflow: hidden;
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--header-font-1);
  color: var(--primary-color);
  text-align: center;
  text-shadow: 2px 2px var(--secondary-color);
}

.hero-image img {
  margin: 1rem 0;
  max-width: 600px;
  max-height: 67vh;
  margin-inline: auto;
  
}

.hero-content h2 {
  max-width: 400px;
  margin-inline: auto;
  font-size: 1.75rem;
  font-weight: 400;
  font-family: var(--header-font-2);
  color: var(--primary-color);
  padding: 1rem 2rem;
  border: 2px dashed var(--primary-color);
  text-align: center;
}

.hero-content h1 {
  font-size: 4.5rem;
  font-weight: 500;
  font-family: var(--header-font-1);
  color: var(--primary-color);
  line-height: 1;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  text-shadow: 2px 2px var(--white);
}

.hero-content span {
  font-size: 3rem;
  margin: auto;
}

/* BANNERS + SPECIAL */
.banner {
  margin-top: 1rem;
  display: grid;
  grid-auto-rows: 200px;
  gap: 1rem;
}

.banner-card {
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.banner-card:nth-child(1) {
  background-image: url("Images/banner-1.png");
}

.banner-card:nth-child(2) {
  background-image: url("Images/banner-2.png");
}

.banner-card:nth-child(3) {
  background-image: url("Images/banner-3.png");
}

.banner-card p {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.banner-card h4 {
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
}

/* MENU + ORDER */
.order {
  text-align: center;
}

.order h3 {
  max-width: fit-content;
  margin-inline: auto;
  font-weight: 400;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: var(--header-font-2);
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
}

.menu-header {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-shadow: 2px 2px var(--secondary-color);
  color: var(--primary-color);
  font-family: var(--header-font-1);
}

.description {
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.6;
  font-size: 1rem;
}

.order-grid {
  display: grid;
  gap: 2rem 1rem;
}

.order-card {
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  transition: 0.3s;
}

.order-card:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.order-card img {
  max-width: 250px;
  margin-inline: auto;
  margin-bottom: 2rem;
  filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.3));
}

.order-card h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.order-card p {
  margin-bottom: 2rem;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 1.75rem;
}

/* EVENT SECTION */
.event-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  padding: 1.8rem;
}

.secondary {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
  font-family: var(--header-font-2);
  color: var(--text-dark);
  font-weight: 100;
}

.reservation {
  position: relative;
  isolation: isolate;
}

.contact form {
  max-width: 400px;
  margin-inline: auto;
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.contact input {
  padding: 0.75rem 1rem;
  outline: none;
  border: 1px solid var(--text-dark);
  font-size: 1rem;
  color: var(--text-dark);
}

.contact input::placeholder {
  color: var(--text-dark);
}

.reservation img {
  display: none;
}

/* FOOTER */
.logo-footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

#icon {
  font-size: 2rem;
  color: var(--white);
}

.logo-footer h2 {
  color: var(--white);
  font-size: 2.5rem;
}

.footer {
  background-image: url("Images/footer-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-content {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

.footer-content p {
  color: var(--white);
  font-weight: 550;
  line-height: 1.75rem;
}

.footer-links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer-links li {
  display: flex;
  align-items: center;
  color: var(--white);
  font-weight: 550;
  gap: 1rem;
}

.footer-links li span {
  font-size: 1.25rem;
}

.socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socials a {
  font-size: 1.5rem;
  color: var(--white);
}

.socials a:hover {
  color: var(--secondary-color);
}

.footer-bar {
  padding: 0.8rem;
  font-size: 1rem;
  color: var(--white);
  text-align: center;
}